{% extends 'base.html' %}

{% block content %}

    <section class="section">
        <div class="container">
        <h1 class="title"> Welcome to About </h1>
        <p> So this is just a dummy collection of webpages used by <a href="https://github.com/TR0UBLESH00TER">me</a> to practice flask and bulma!</p>
        <p> There isn't much to do here.</p>
        <p> If you made it till here I guess I gave you the <a href="https://HopefulDopeyVolcano.tr0ublesh00ter.repl.co">link</a> to the home page?- Or you got it from some other source</p>
        <p> Anyways I hope you liked it and may try out flask and Bumla some day.</p>
        <p> Alright then see you again!</p>
        <p> If you are phone I guess your navbar is dead?- I'll figure it out later as I am still learning.<br /> So you can use the 2 buttons below for now:</p>
        <p><br /></p>
        <div class="buttons">
            <button class="button is-primary is-outlined is-rounded"><a href="/home">Home<a></button>
            <button class="button is-link is-outlined is-rounded"><a href="/buttons">Useless Buttons</a></button>
        </div>
    </div>
</section>

{% endblock %}