{% extends 'base.html' %}

{% block content %}

<section class="section">
    <div class="container">
        <p> Now some useless buttons?- </p>
        <div class="buttons">
            <button class="button is-primary">Primary</button>
            <button class="button is-link">Link</button>
        </div>

        <div class="buttons">
            <button class="button is-info">Info</button>
            <button class="button is-success">Success</button>
            <button class="button is-warning">Warning</button>
            <button class="button is-danger">Danger</button>
        </div>

        <div class="buttons">
            <button class="button is-primary is-outlined">Primary</button>
            <button class="button is-link is-outlined">Link</button>
        </div>

        <div class="buttons">
            <button class="button is-info is-outlined">Info</button>
            <button class="button is-success is-outlined">Success</button>
            <button class="button is-warning is-outlined">Warning</button>
            <button class="button is-danger is-outlined">Danger</button>
        </div>

        <div class="buttons">
            <button class="button is-primary is-inverted">Primary</button>
            <button class="button is-link is-inverted">Link</button>
        </div>

        <div class="buttons">
            <button class="button is-info is-inverted">Info</button>
            <button class="button is-success is-inverted">Success</button>
            <button class="button is-warning is-inverted">Warning</button>
            <button class="button is-danger is-inverted">Danger</button>
        </div>
        <p> If you are phone I guess your navbar is dead?- I'll figure it out later as I am still learning.<br /> So
            you can use the 2 buttons below for now:</p>
        <p><br /></p>
        <div class="buttons">
            <button class="button is-primary is-outlined is-rounded"><a href="/home">Home<a></button>
            <button class="button is-link is-outlined is-rounded"><a href="/about">About</a></button>
        </div>
    </div>
</section>

{% endblock %}