{% extends 'base.html' %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">
            Hello World!
        </h1>
        <p class="subtitle">
            Hello There!
            <br />So you clicked that link I shared?!
            <br />Here's my first webpage with <strong>Bulma</strong> and <strong>Flask</strong>!
        </p>
        <p>Don't forget to click the more option in nav bar and if you are phone I guess your navbar is dead?- I'll
            figure it out later as I am still learning.<br /> So you can use the 2 buttons below for now:</p>
        <p><br /></p>
        <div class="buttons">
            <button class="button is-primary is-outlined is-rounded"><a href="/about">About<a></button>
            <button class="button is-link is-outlined is-rounded"><a href="/buttons">Useless Buttons</a></button>
        </div>
        <p><br /><br /></p>
        <progress class="progress is-small is-primary" max="100">15%</progress>
        <div class="card">
            <header class="card-header">
                <h1 class="card-header-title title is-centered">
                    Quote of the Day
                </h1>
            </header>
            <div class="card-content">
                <div class="content">
                    <p class="subtitle is-centered"> {{ quote }} </p>
                </div>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">{{ author }}
                <p>
            </footer>
        </div>
</section>

{% endblock %}