<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello World!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    </head>

    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://HopefulDopeyVolcano.tr0ublesh00ter.repl.co">
                    <b> Hello World </b>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" , href="/home">
                        Home
                    </a>

                    <a class="navbar-item" href="https://github.com/TR0UBLESH00TER">
                        Github
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            More
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" , href="/about">
                                About
                            </a>
                            <a class="navbar-item" href="/buttons">
                                Useless Buttons
                                <hr class="navbar-divider" />
                                <a class="navbar-item" , href=" https://discord.gg/7XV7DQEDNW">
                                    Discord Server
                                </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary">
                                <strong>Sign up (Doesn't work)</strong>
                            </a>
                            <a class="button is-light">
                                Log in (Doesn't work)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="container">
                <h1 class="title">
                    Hello World!
                </h1>
                <p class="subtitle">
                    Hello There!
                    <br />So you clicked that link I shared?!
                    <br />Here's my first webpage with <strong>Bulma</strong> and <strong>Flask</strong>!
                </p>
                <p>Don't forget to click the more option in nav bar and if you are phone I guess your navbar is dead?- I'll
                    figure it out later as I am still learning.<br /> So you can use the 2 buttons below for now:</p>
                <p><br /></p>
                <div class="buttons">
                    <button class="button is-primary is-outlined is-rounded"><a href="/about">About<a></button>
                    <button class="button is-link is-outlined is-rounded"><a href="/buttons">Useless Buttons</a></button>
                </div>
                <p><br /><br /></p>
                <progress class="progress is-small is-primary" max="100">15%</progress>
                <div class="card">
                    <header class="card-header">
                        <h1 class="card-header-title title is-centered">
                            Quote of the Day
                        </h1>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p class="subtitle is-centered"> {{ quote }} </p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">{{ author }}
                        <p>
                    </footer>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    {{ footer | safe }}
                </p>
            </div>
        </footer>
    </body>

</html>